{{#> page}}
    {{#*inline "main"}}
		<h1>Commercial</h1>
		<section class="container video">
			<div class="column-left">
				<h2>{{ videos.[0].title }}</h2>
				<ul>
					<li>CLIENT: UNDER ARMOUR</li>
					<li>DIRECTOR: THE MALLOYS</li>
					<li>DP: JODY LEE PIPES</li>
					<li>LOS ANGELES, CA</li>
				</ul>
			</div>
			<div class="column-left">
				<iframe src="{{ this.video }}" frameborder="0"></iframe>
			</div>
		</section>
        <section class="container work">
			<h2 class="work__heading">Videos</h2>
			<ul class="work__list">
				{{#each videos}}
					<li class="work__list-item">
						<a class="work__item-link" href="{{ this.video }}" target="_blank" style="background-image: url({{ this.image }});">
							<div class="work__title">{{ this.title }}</div>
							<div class="work__description">{{ this.description }}</div>
							{{!-- <img class="work__item-image" src="{{ this.image }}" alt="{{ this.title }}"> --}}
						</a>
					</li>
				{{/each}}
			</ul>
        </section>
    {{/inline}}
{{/page}}